body {
    font-family: 'Trebuchet MS', sans-serif;
    background-color: #912d82;
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.palettecolors {
    display: flex;
}

.palette1 {
    background-color: #af4b9e;
    width: 150px;
    height: 150px;
    border-radius: 15px;
    margin: 10px;
}

.palette2 {
    background-color: #af4b6c;
    width: 150px;
    height: 150px;
    border-radius: 15px;
    margin: 10px;
}

.palette3 {
    background-color: #af5c4b;
    width: 150px;
    height: 150px;
    border-radius: 15px;
    margin: 10px;
}

.palette4 {
    background-color: #e4cae0;
    width: 150px;
    height: 150px;
    border-radius: 15px;
    margin: 10px;
}

.palette5 {
    background-color: #ba7cb1;
    width: 150px;
    height: 150px;
    border-radius: 15px;
    margin: 10px;
}

.palette6 {
    background-color: #df00df;
    width: 150px;
    height: 150px;
    border-radius: 15px;
    margin: 10px;
}

.container {
    text-align: center;
}

.input-section {
    margin-bottom: 20px;
}

.bingo-board {
    display: none;
    grid-template-columns: repeat(5, 100px);
    grid-template-rows: repeat(5, 100px);
    gap: 5px;
    margin: 20px auto;
}

.bingo-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: 2px solid #000;
    cursor: pointer;
    font-size: 18px;
}

.bingo-cell.checked {
    background-color: #4caf50;
    color: white;
    text-decoration: line-through;
}

